<div id=dashboard-main fxLayout="column" fxLayoutAlign="start center">
    <div style="max-width: 960px;" fxLayout="column">

        <h1>Dashboard - Automated Decision Support</h1>


        <mat-accordion>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Automated decision support</mat-panel-title>
                    <mat-panel-description>explanation</mat-panel-description>
                </mat-expansion-panel-header>
                <ads-explained></ads-explained>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>General legal purpose</mat-panel-title>
                    <mat-panel-description>for in-house legal counsels</mat-panel-description>
                </mat-expansion-panel-header>
                <general-purpose></general-purpose>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Dispute resolution methods</mat-panel-title>
                    <mat-panel-description>prototypes</mat-panel-description>
                </mat-expansion-panel-header>
                <drm-prototypes></drm-prototypes>
            </mat-expansion-panel>


        </mat-accordion>
    </div>
</div>