<div fxLayout="column" fxLayoutAlign="start center">
    <div id="sharedformHeading" fxLayout="column" fxLayoutAlign="center center">

        <title>Prototype Zelftest voor mediation</title>
        <p>Op basis van een publicatie van de Raad voor de Rechtspraak.</p>
        <mat-slider *ngIf="!showResult" color="secondary" min="1" max="100" step="1" disabled value="{{progressIndicator}}"></mat-slider>

    </div>

    <h4 *ngIf="!showResult">Bent u bereid mee te werken aan een oplossing die in onderling overleg tot stand komt?</h4>
    <sharedForm-component
        *ngIf="!showResult;else noFormData"

        (changeFingerprintKey) ="FingerprintKeyChange($event)"
        (previousQuestion) = "setPreviousQuestionFingerprint($event)"
        (progressIndicator) =  "setProgressIndicator($event)"
        (showResult) ="showResultsActivedBySharedForm($event)"

        [formdataToDisplay]="formdataToSharedForm">
    </sharedForm-component>
    <ng-template #noFormData>
        <!-- <p>There are no questions, please go to controls or result section...</p> -->
    </ng-template>

    <dynamic-content 
        *ngIf="showResult"
        [setActive]="showResult" 
        [currentFingerprintKey]="currentFingerprintKey">
    </dynamic-content>

    <span *ngIf="!showResult" style="margin-top:-4.5vh">
        <button [disabled]="!backButtonActive" fxShow fxHide.lt-sm at-mini-fab color="secondary" mat-button (click)="backOneQuestion()"><< Back</button>
        <a fxHide fxShow.lt-sm (click)="backOneQuestion()">&nbsp;<<&nbsp;</a>
    </span>

    <div *ngIf="showResult"><button mat-raised-button color="secondary" (click)="backToQuestions()"><< Back to questions</button></div>
</div>