<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Legal LinQ Decision Support Assistent">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Legal LinQ</title>
        <link rel="stylesheet" href="styles.scss">
		<script> var exports = {}; </script> <!-- needed as hack for Electron TS export modules error-->
    </head>

	<body>
		<apphome>Please wait, app is loading...</apphome>
	</body>

</html>